<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="fieldErrors(fieldName)" 
         th:if="${#fields.hasErrors(fieldName)}" 
         style="background-color: #f8d7da; color: #721c24; padding: 8px; margin-top: 5px; border-radius: 4px; font-size: 12px;">
        <p th:each="error : ${#fields.errors(fieldName)}" 
           th:text="${error}" 
           style="margin: 0;"></p>
    </div>

    <div th:fragment="formErrorsFragment" class="alert alert-danger"
         role="alert" th:if="${#fields.hasAnyErrors()}">
        <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
    </div>
</body>
</html>